/* part 1 */
body {
  background: #eee;
  padding-top: 50px;
  font-size: 16px;
}
.navbar{
  opacity: .8;
}
a.navbar-brand{
  text-transform: none;
  color: #fff;
  font-size: 18px;
}
.orange{
	color: #e85020;
}
nav .collapse li a:hover{
	font-weight: bold;
  color: #e85020 !important;
}
.navbar li a{
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* about */
.about{
  background: url('../img/25.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
  color: #fff;
}
.about .text{
  margin-top: 62vh;
	font-size: 16px;
}
/* portfolio */
.portfolio {
  color: #333;
  padding-top: 50px;
}
.portfolio .text-center{
  margin-top: 20px;
	font-weight: bold;
  margin-bottom: 50px;
}
.project-item {
  padding: 10px;
  border-radius: 5px;
}
.project-item a img {
  height: auto;
}
.project-item-text {
  margin: 10px auto;
  text-align: center;
}
.project-item-text h4 {
  text-transform: uppercase;
    color: #333;
  font-weight: bold;
}
.project-item-text h5 {
  text-transform: uppercase;
}
/* contact */
.contact{
  background-color: #ccc;

  padding-top: 80px;
  padding-bottom: 50px;
}
.contact .text-center{
  font-weight: bold;
  margin-bottom: 60px;
}
.contact input{
  margin-bottom: 5px;
}
.contact .form-control{
  font-size: 16px;
}
/* footer */
.footer {
  background-color: #304050;
  opacity: .9;
  color: white;
}
.footer .link a {
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
.footer p{
  text-transform: none;
  padding-top: 10px;
  font-size: 10px;
}

@media (max-width: 768px){
  .about .text{
   font-size: 12px;
   margin-top: 69vh;
  }
  .contact .form-control{
  font-size: 14px;
}
}
@media(min-width:1200px){
  .about .text{
    font-size: 18px;
  }
  .contact .form-control{
  font-size: 18px;
}
}
